@font-face {
    font-family: 'FuturaBT-MediumCondensed';
    src: url('../fonts/futuramc.eot');
    src: url('../fonts/futuramc.eot?#iefix') format('embedded-opentype'),
            url('../fonts/futuramc.woff') format('woff'),
            url('../fonts/futuramc.ttf') format('truetype'),
            url('../fonts/futuramc.svg#futuramc') format('svg');
    font-weight: normal;
    font-style: normal;
}