<h1>Sponsorprogramma's voor sportclubs</h1>
<p>Elke club verdient sponsors! Hoe kom je nu op een makkelijke manier aan sponsors en bind je ze aan je club? Sponsorprogramma's van Clubkit werken effectief om laagdrempelig sponsors binnen te halen. Zo beschik je over een volledig nieuw netwerk van mensen en bedrijven die aan je club willen bijdragen. Elk programma heeft eigen kenmerken die passen bij het doel dat je voor ogen hebt. Bekijk welk programma het beste past bij je behoefte.</p>

<div id="sponsor2">
    <h2>Sponsorballen</h2>
    <img src="images/programs/sponsorballen.jpg" height="170" width="auto">
    <p>Sponsorballen is een online spel met als doel zoveel mogelijk gesponsorde ballen te verzamelen. Uw leden spreken hun eigen netwerk aan op zoek naar sponsors. Dit kunnen zowel particulieren als bedrijven zijn. Het gaat om relatief kleine bedragen, maar die kunnen samen flinke bedragen vormen.</p>

    <button class="aanmelden2">Aanmelden voor actie
    </button>

    <button class="sport2">Bekijk andere sporten
    </button>

</div>

<div id="vriendenvan2">
    <h2>Vrienden van</h2>
    <img src="images/programs/vriendenmaand.jpg" height="170" width="auto">
    <p>Vrienden van is een online spel met als doel zoveel mogelijk ballen te verzamelen.<br>
        Leden strijden onderling naar de eerste plaats.<br>Het gebruik van Vrienden van is gratis volgens het no-cure-no-pay-principe.</p>

    <button class="aanmelden2">Aanmelden voor actie
    </button>

    <button class="sport2">Bekijk andere sporten
    </button>

</div>

<div id="bouwmee2">
    <h2>Bouw mee</h2>

    <img src="images/programs/bouw-mee.jpg" height="170" width="auto">
    <p>Bouw mee is een online spel met als doel zoveel mogelijk ballen te verzamelen.<br>
        Leden strijden onderling naar de eerste plaats.<br>
        Het gebruik van Bouw mee is gratis volgens het no-cure-no-pay-principe.</p>

    <button class="aanmelden2">Aanmelden voor actie
    </button>

    <button class="sport2">Bekijk andere sporten
    </button>

</div>

<div id="adopteer2">
    <h2>Adopteer een speler</h2>

    <img src="images/programs/adopteer-een-speler.jpg" height="170" width="auto">
    <p>Bouw mee is een online spel met als doel zoveel mogelijk ballen te verzamelen.<br>
        Leden strijden onderling naar de eerste plaats.<br>
        Het gebruik van Bouw mee is gratis volgens het no-cure-no-pay-principe.</p>

    <button class="aanmelden2">Aanmelden voor actie
    </button>

    <button class="sport2">Bekijk andere sporten
    </button>

</div>