<footer>

    <section id="logos">
        <figure><img src="images/knbsb.svg"></figure>
        <figure><img src="images/knkv.png"></figure>
        <figure><img src="images/sportsupport.jpg"></figure>
        <figure><img src="images/nhv.svg"></figure>
        <figure><img src="images/knvb.svg"></figure>
        <figure><img src="images/rabbits.svg"></figure>
        <figure><img src="images/appm.svg"></figure>
    </section>

    <section id="een">
        <h1>Clubkit</h1>
        <ul>
            <li><a href="?action=">vacatures</a></li>
            <li><a href="?action=">Partners</a></li>
            <li><a href="?action=">faq</a></li>
        </ul>
    </section>

    <section id="twee">
        <h1>Info</h1>
        <ul>
            <li><a href="?action=">disclaimer</a></li>
            <li><a href="?action=">privacybeleid</a></li>
            <li><a href="?action=contact">contact</a></li>
        </ul>
    </section>

    <section id="drie">
        <h1>Social media</h1>
        <ul class="social">
            <li><a href="https://www.facebook.com/clubkitnl"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="https://twitter.com/clubkitnl"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="https://plus.google.com/100750598648777817557/about"><i class="fa fa-google-plus-square"></i></a></li>
        </ul>
    </section>

    <section id="vier">
        <h1>Nieuwsbrief</h1>
        <ul>
            <li><input name="ordernumber" type="text" placeholder="Uw e-mailadres"></li>
            <li><button class="nieuws" type="submit">Aanmelden</button></li>
        </ul>
    </section>


</footer>

<div id="voet">
    <p>Copyright © 2016 Clubkit. Alle rechten voorbehouden</p>
</div>