<footer>
    <section id="een">
        <h1>Clubkit</h1>
        <ul>
            <li><a href="#">vacatures</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">faq</a></li>
        </ul>
    </section>

    <section id="twee">
        <h1>Footer</h1>
        <ul>
            <li><a href="#">disclaimer</a></li>
            <li><a href="#">privacybeleid</a></li>
            <li><a href="#">contact</a></li>
        </ul>
    </section>

    <section id="drie">
        <h1>Social media</h1>
        <ul class="social">
            <li><a href="https://www.facebook.com/clubkitnl"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="https://twitter.com/clubkitnl"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="https://plus.google.com/100750598648777817557/about"><i class="fa fa-google-plus-square"></i></a></li>
        </ul>
    </section>

    <section id="vier">
        <h1>Nieuwsbrief</h1>
        <ul>
            <li><input name="ordernumber" type="text" placeholder="Uw e-mailadres"></li>
            <li><button class="nieuws" type="submit">Aanmelden</button></li>
        </ul>
    </section>


</footer>

<div id="voet">
    <p>Copyright © 2016 Clubkit. Alle rechten voorbehouden</p>
</div>