<header>
    <div class="logo-section">
        <img src="images/logo.svg" alt="">
        <h2>Online sponsorwerving voor sportclubs</h2>
    </div>

    <div class="nav-section">
        <ul>
            <a href="">
                <li class="nav hvr-underline-reveal no-space">Home</li>
            </a>
            <a href="">
                <li class="nav hvr-underline-reveal">Sporten</li>
            </a>
            <a href="">
                <li class="nav hvr-underline-reveal">Sponsor acties</li>
            </a>
            <a href="../clubkit/application/views/workshops.php">
                <li class="nav active" style="
    padding-bottom: 16px;
">Workshops</li>
            </a>
            <a href="../clubkit/application/views/registration.php">
                <li class="nav hvr-underline-reveal">Aanmelden</li>
            </a>
            <a href="">
                <li class="nav hvr-underline-reveal">Resultaten</li>
            </a>
            <a href="">
                <li class="nav hvr-underline-reveal">Nieuws</li>
            </a>
            <a href="">
                <li class="nav hvr-underline-reveal">Contact</li>
            </a>
        </ul>
    </div>
</header>